@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
	height: 100vh;
	width: 100vw;
}
#icon-whatsapp {
	position: fixed;
	right: 3%;
	border-radius: 50%;
	top: 90%;
	z-index: 10;
	animation: pulse 2.5s infinite;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 200, 0, 1);
	}
	70% {
		box-shadow: 0 0 0 20px rgba(0, 200, 0, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(0, 200, 0, 0);
	}
}

/* ------ HEADER ------*/
.header {
	width: 100%;
	height: 220px;
	background-color: #0cc0df;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-image: url(imgs/possivel-fundo-red-dir.png);
	background-size: cover;
	background-position: right center;
}

.teste {
	display: flex;
	justify-content: space-between;
	padding: 1em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.171);
	background-image: url(imgs/milhoheader-cortado.jpg);
	background-size: cover;
}

.teste-2 {
	width: 100%;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.titulo {
	font-family: "Poppins", sans-serif;
	font-size: 2.2em;
	color: white;
	text-shadow: 1px 1px 3px black;
}
.subtitulo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	color: rgb(250, 79, 0);
	font-size: 1.2em;
	text-shadow: 1px 1px 2px rgb(51, 48, 48);
}

.img-logo {
	width: 80px;
}

/* ------ MENU ------*/
.menu-container {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgba(72, 255, 0, 0.534);
	box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.295);
	border-radius: 50%;
}

.menu-container:hover {
	background-color: rgb(161, 255, 121);
	border: 1.5px solid rgb(255, 255, 255);
	box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.295);
}
.material-symbols-outlined {
	font-weight: 500;
	font-size: 2em;
	color: rgb(62, 204, 6);
	text-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.637);
}
.material-symbols-outlined:hover {
	color: white;
}

/* ------ MAIN ------*/
.main {
	background-color: white;
	box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.329);
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.boas-vindas {
	margin-top: 1em;
	padding: 1em 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-image: url(imgs/saco-2.jpg);
	background-size: conain;
}

.container-boas-vindas {
	margin: auto;
	width: 90%;
	height: 90%;
	border: 2px solid rgb(250, 142, 0);
	background-color: white;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-around;
	padding: 0 1em;
}

.titulo-bem-vindo {
	font-family: "Poppins", sans-serif;
	font-size: 2em;
	color: rgb(12, 59, 2);
	text-align: center;
	padding: 0.8em;
}

.texto-boas-vindas {
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: 1em;
	text-align: justify;
	color: rgb(12, 59, 2);
	line-height: 1.5;
	padding: 1em 0;
}
.titulo-boas-vindas-inicio {
	padding: 1em 1em 0 1em;
}
.familia-img {
	width: 100%;
}

.saiba-mais {
	display: none;
}

.button-saiba-mais {
	font-family: "Poppins", sans-serif;
	font-size: 0.8em;
	font-weight: 600;
	color: rgb(26, 102, 9);
	text-align: start;
	align-self: flex-start;
	padding-bottom: 1em;
}

/* ------ PRODUTOS ------*/

.section-produtos {
	width: 100%;
	height: 450px;
	background-image: url(imgs/milhoheader-cortado.jpg);
}
.section__header {
	text-align: center;
	padding: 1em 0.5em 0.5em 0.5em;
	line-height: 1.5;
}
.section__titulo {
	font-family: "Poppins", sans-serif;
	font-size: 2em;
	color: #fdfdfb;
	text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.527);
}

.section__texto {
	font-family: "Raleway", sans-serif;
	font-size: 1em;
	padding: 0 1em;
	font-weight: 600;
	color: rgb(12, 59, 2);
	text-shadow: 2px 1px 3px #dfdcdca4;
}

/* ------ SLIDER ------*/
.slider {
	width: 100%;
	height: 75%;
	position: relative;
	display: flex;
	align-items: center;

	/* IN THE END */
	overflow: hidden;
}

.slide {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;

	/* THIS creates the animation! */
	transition: transform 1s;
}

.slide-img--pamonha {
	width: 80%;
	height: 80%;
	border-radius: 8px;
}

.container-buttons {
	position: absolute;
	top: 28%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 0.5em;
}

.slider__btn {
	border: none;
	border-radius: 50%;
	height: 3.5rem;
	width: 3.5rem;
	color: rgb(43, 41, 41);
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider__btn > svg {
	color: rgba(44, 39, 39, 0.781);
}

.dots {
	position: absolute;
	bottom: 13%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}

.dots__dot {
	border: none;
	background-color: #fff59d;
	opacity: 0.7;
	height: 0.7rem;
	width: 0.7rem;
	border-radius: 50%;
	margin-right: 1rem;
	cursor: pointer;
	transition: all 0.5s;

	/* Only necessary when overlying images */
	/* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
	margin: 0;
}

.dots__dot--active {
	/* background-color: #fff; */
	background-color: rgb(199, 247, 27);
	opacity: 1;
}
.produtos-container {
	width: 65%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.produtos-container-img {
	width: 90%;
	height: 150px;
	background-color: white;
	box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.705);
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.produtos__container--header {
	font-family: "Poppins", sans-serif;
	color: rgb(199, 247, 27);
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.562);
	font-size: 1.5rem;
	font-weight: 00;
}

.produtos-texto {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	text-align: center;
	padding: 0.5em;
	font-size: 1rem;
	font-weight: 600;
	color: rgb(12, 59, 2);
	text-shadow: 2px 1px 3px #dfdcdc86;
}
/* ------- CARDÁPIO -----*/

.acessa-cardapio-container {
	width: 100%;
	height: 100px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(45deg, #21535f, #56a4b4, #67c9dd);
}

.acessa-cardapio {
	font-family: "Poppins", sans-serif;
	color: rgb(250, 246, 246);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.425);
	width: 70%;
	margin: auto;
	height: 40px;
	border-radius: 5px;
	padding: 1.5em;
	font-size: 1em;
	font-weight: 600;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.432);
	background-color: rgb(159, 197, 21);
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	animation: anima-botao 1s ease-in-out alternate infinite;
}

@keyframes anima-botao {
	100% {
		transform: scale(1.1);
		font-family: 1.1em;
	}
}

/* ------- DELIVERY -----*/

.section-delivery {
	font-family: "Poppins", sans-serif;
	width: 100%;
	padding: 1em;
	color: rgb(12, 59, 2);
	background-image: url(imgs/saco-2.jpg);
}

.delivery-titulo {
	color: rgb(12, 59, 2);
	text-align: center;
	font-size: 2em;
	line-height: 1.2;
	font-weight: 700;
}

.delivery-subtitulo {
	font-size: 1.2;
	font-weight: 600;
	color: rgb(247, 97, 27);
	text-shadow: 1px 1px 1px rgba(201, 184, 184, 0.651);
	padding: 1em 0;
}

.lista-wrap {
	background-color: white;
	padding: 1em;
	border-radius: 8px;
	box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.705);
}
.delivery-pedido {
	font-size: 1em;
	font-weight: 600;
}
.delivery-lista {
	padding: 1em;
}

.lista-item {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 1em;
	line-height: 1.5;
	padding: 0.5em 0;
	text-align: justify;
}
.delivery-img {
	width: 100%;
	height: 250px;
	position: relative;
	bottom: 2em;
}
/* ---------- FALE CONOSCO ---------- */
.contato {
	padding: 1em 0;
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 1em;
	color: white;

	background-image: linear-gradient(45deg, #21535f, #67c9dd);
	text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.527);
}
label {
	padding: 1em 0 0.5em 0;
}
.titulo-contato {
	font-family: "Poppins", sans-serif;
	font-size: 2em;
	font-weight: 700;
	text-align: center;
}

#contato-form {
	width: 90%;
	margin: auto;
	display: flex;
	flex-direction: column;
}

input {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	color: rgb(12, 59, 2);
	height: 40px;
	border-radius: 5px;
	padding: 0.5em;
	font-size: 0.8em;
	border: none;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.363);
}
textarea {
	color: rgb(12, 59, 2);
	border-radius: 5px;
	margin-bottom: 1em;
	padding: 0.5em;
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.363);
}
input:placeholder-shown,
textarea:placeholder-shown {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	padding: 0.5em;
}
input:focus,
textarea:focus {
	outline-color: rgb(250, 204, 0);
}

.button-submit {
	font-family: "Poppins", sans-serif;
	color: rgb(250, 246, 246);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.493);
	width: 40%;
	height: 30px;
	margin: auto;
	border-radius: 8px;
	padding: 1.5em;
	font-size: 1em;
	font-weight: 600;
	background-color: rgb(159, 197, 21);
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.445);
}
/* ---------- MAPA -----------*/
.section-mapa {
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(imgs/fundo3.jpg);
	background-size: contain;
}
.container-mapa {
	background-color: white;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 8px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.336);
	text-align: center;
	border: 2px solid greenyellow;
}
.titulo-mapa {
	font-family: "Poppins", sans-serif;
	font-size: 2em;
	color: rgb(12, 59, 2);
	font-weight: 700;
}
.endereço {
	font-family: "Raleway", sans-serif;
	font-size: 1em;
	color: rgb(12, 59, 2);
	padding: 1em 0;
	font-weight: 500;
}

.mapa {
	border-radius: 5px;
	border: 1px solid rgba(43, 39, 39, 0.301);
}
/* ---------- RODAPE -----------*/
.footer {
	font-family: "Raleway", sans-serif;
	color: rgb(12, 59, 2);
	text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.596);
	font-weight: 600;
	font-size: 1em;
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin-top: 1em;
	width: 100%;
	height: 260px;
	background-image: url(imgs/milhoheader-cortado.jpg);
	padding: 1em;
}
.container-links-footer {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.container-img-footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 1.5em;
}
.titulo-footer {
	font-family: "Poppins", sans-serif;
	font-size: 1em;
	color: white;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.596);
}

.footer-img {
	width: 100px;
	margin: auto;
}

.lista-link {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.redes-container {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.link-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.item,
.item-1 {
	font-family: "Raleway", sans-serif;
	color: rgb(12, 59, 2);
	font-size: 0.9em;
	font-weight: 700;
	text-decoration: none;
	padding: 0.7em 0;
	text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.514);
}
