@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
	height: 100vh;
	width: 100vw;
	background-color: #9dd9e5;
}
.header {
	width: 100%;
	height: 220px;
	background-color: #0cc0df;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-image: url(imgs/possivel-fundo-red-dir.png);
	background-size: cover;
	background-position: right center;
}

.teste {
	display: flex;
	justify-content: space-between;
	padding: 1em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.171);
	background-image: url(imgs/milhoheader-cortado.jpg);
	background-size: cover;
}

.teste-2 {
	width: 100%;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.titulo {
	font-family: "Poppins", sans-serif;
	font-size: 2.2em;
	color: white;
	text-shadow: 1px 1px 3px black;
}
.subtitulo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	color: rgb(250, 79, 0);
	font-size: 1.2em;
	text-shadow: 1px 1px 2px rgb(51, 48, 48);
}

.img-logo {
	width: 80px;
}

/* ------ MENU ------*/
/*-----NAV-----*/
#menu {
	display: block;
	position: absolute;
	width: 100%;
}
/*-----UL-----*/
.menu-burguer {
	box-sizing: border-box;
	position: absolute;
	top: 85px;
	width: 100%;
	border: 5px solid rgb(62, 204, 6);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	left: 0;
	z-index: 10000;
	height: 0px;
	cursor: pointer;
	transition: 0.5s;
	visibility: hidden;
	overflow-y: hidden;
}
#menu.active .menu-burguer {
	height: 185px;
	visibility: visible;
}

.icone-menu {
	display: block;
	width: 20px;
	border-top: 2px solid;
	color: rgb(62, 204, 6);
}

.icone-menu::after,
.icone-menu::before {
	content: "";
	display: block;
	width: 20px;
	height: 2px;
	margin-top: 5px;
	background: currentColor;
	transition: 0.3s;
	position: relative;
}

#menu.active .icone-menu {
	border-top-color: transparent;
}

#menu.active .icone-menu::before {
	transform: rotate(135deg);
	background-color: red;
}
#menu.active .icone-menu::after {
	transform: rotate(-135deg);
	top: -7px;
	background-color: red;
}

/*-----Este abaixo é o div redondo verde------*/
.menu-container {
	position: absolute;
	top: 1em;
	right: 1em;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgba(72, 255, 0, 0.534);
	box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.295);
	border-radius: 50%;
}
.menu-burguer-lista {
	list-style: none;
	padding: 0.5em;
	font-size: 1em;
	text-align: center;
	background-color: rgb(250, 250, 250);
}
.menu-burguer-lista:not(:last-child) {
	border-bottom: 1px solid rgba(223, 222, 222, 0.795);
}
.menu-burguer-lista:hover {
	background-color: rgb(217, 252, 203);
	font-size: 1.1em;
	color: white;
	transition: 0.15s ease-in-out;
}
.menu-burguer-lista:active {
	background-color: rgb(194, 255, 170);
	transition: 0.15s ease-in-out;
}

.menu-burguer-lista:hover > a {
	text-shadow: 1px 1px 3px rgba(255, 254, 254, 0.87);
}

/* ------ MAIN ------*/
main {
	background-color: white;
	margin: auto;
	padding-bottom: 1em;
	width: 95%;
	box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.329);
	display: flex;
	flex-direction: column;
	gap: 1em;
	color: rgb(20, 71, 8);
}
.placa-container {
	margin: auto;
	width: 60%;
	height: 150px;
}
.placa {
	width: 100%;
	height: 100%;
}
.placa-titulo {
	position: relative;
	bottom: 100px;
	left: 12.5%;
	font-family: "Poppins", sans-serif;
	font-size: 2.2em;
	color: #324014;
	text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.664);
}
/* ---------- CARD ---------- */
.card {
	width: 350px;
	margin: auto;
	height: 400px;
	padding: 1em;
	box-shadow: 1px 1px 5px 2px #00000033;
	border-radius: 8px;
}
.card-wrap {
	width: 100%;
	align-items: center;
	justify-content: space-between;
	display: flex;
}
.svg-container {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid rgb(250, 79, 0);
}

.card-titulo {
	font-family: "Poppins", sans-serif;
	font-size: 1.5em;
}
.card-titulo-lista {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 1em;
}
.card-ul {
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: 1em;
	padding: 1em;
}

/* ---------- LINHA E PREÇO ---------- */

.container-valor {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1em 0;
}

.linha {
	width: 70%;
	border-bottom: 2px dashed #80db1a;
}

.valor {
	font-family: "Raleway", sans-serif;
	font-size: 1.5em;
	font-weight: 600;
	color: #80db1a;
}

.produto-wrap {
	margin: auto;
	pad: 1em;
	width: 85%;
}
.img-produto {
	border-radius: 8px;
	width: 100%;
	height: 150px;
	margin: auto;
}

/* ---------- RODAPE -----------*/
.footer {
	font-family: "Raleway", sans-serif;
	color: rgb(12, 59, 2);
	text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.596);
	font-weight: 600;
	font-size: 1em;
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin-top: 1em;
	width: 100%;
	height: 260px;
	background-image: url(imgs/milhoheader-cortado.jpg);
	padding: 1em;
}
.container-links-footer {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.container-img-footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 1.5em;
}
.titulo-footer {
	font-family: "Poppins", sans-serif;
	font-size: 1em;
	color: white;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.596);
}

.footer-img {
	width: 100px;
	margin: auto;
}

.lista-link {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.redes-container {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.link-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.item,
.item-1 {
	font-family: "Raleway", sans-serif;
	color: rgb(12, 59, 2);
	font-size: 0.9em;
	font-weight: 700;
	text-decoration: none;
	padding: 0.7em 0;
	text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.514);
}
